html {
  height:100%;
}

player div {
  line-height: 40px;
}

body {
    background-image: linear-gradient( 60deg, rgb(60, 88, 139) 10%, #f06d06 );
    min-height: 100%;
    color:white;
    font-size:16px;
}

.likes,
.dislikes {
   background: rgb(60, 88, 139) ;
 color: #fff;
 cursor: pointer;
 display: inline-block;
 font-size: 15px;
   line-height: 40px;
   min-width: 40px;
   height: 40px;
   border-radius: 50%;
   text-align: center;
   font-weight: 200;
   box-shadow: 0 2px 5px rgba(0,0,0,0.2);
   transition: background 500ms;
   margin: auto 5px;
}

.likes:hover,
.dislikes:hover {
   color: rgb(60, 88, 139) ;
   background: rgba(60, 88, 139, 0.25);
   transition: background 500ms;
}

.rating {
 text-align: left;
 -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
}

.stage {
  display: inline-block;
}

.arrows {
   background: #f06d06  ;
 color: #fff;
 cursor: pointer;
 display: inline-block;
 font-size: 10px;
   line-height: 25px;
   min-width: 25px;
   height: 25px;
   border-radius: 50%;
   text-align: center;
   font-weight: 200;
   box-shadow: 0 2px 5px rgba(0,0,0,0.2);
   transition: background 500ms;
   margin: auto 5px;
}

.arrows:hover {
  color: #f06d06 ;
  background: rgba(240, 109, 6, 0.5);
  transition: background 500ms;
}

.header-row {
  margin-top:20px;
  font-weight: bold;
}

.round {
  text-align: center;
  border-right: 1px white solid;
  padding-top: 5px;
  padding-bottom: 5px;
}

.score0 {

}

/*.score1 {
  background-color: orange;
}

.score2 {
  background-color: red;
}

.score3 {
  background-color: black;
  color:white;
}*/
