<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Desk Ball">

    <title>Deskball scoresheet</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">

    <!-- Jquery -->
    <script src="js/vendors/jquery.js"></script>
    <script src="js/vendors/d3.v3.min.js"></script>

    <!-- Angular -->
    <script src="js/vendors/angular.min.js"></script>
    <script src="js/vendors/angular-animate.js"></script>

    <!-- Bowerjs -->
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.min.js"></script>


    <!-- Application -->
    <script src="js/app.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="deskBallApp">

    <div ng-controller="chartController" class="wrapper">
      <div class="container">
        <h1>Deskball scoresheet</h1>
        <h3>Game stats</h3>
<table class="table ">

  <thead>
    <tr>
      <td>
        <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
          Name
          <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
        </a>
      </td>
      <td>
        <a href="#" ng-click="sortType = 'wins'; sortReverse = !sortReverse">
        Wins
          <span ng-show="sortType == 'wins' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'wins' && sortReverse" class="fa fa-caret-up"></span>
        </a>
      </td>
      <td>
        <a href="#" ng-click="sortType = 'finals()'; sortReverse = !sortReverse">
        Finals
          <span ng-show="sortType == 'finals()' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'finals()' && sortReverse" class="fa fa-caret-up"></span>
        </a>
      </td>
      <td>
        <a href="#" ng-click="sortType = 'losses'; sortReverse = !sortReverse">
        Losses
          <span ng-show="sortType == 'losses' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'losses' && sortReverse" class="fa fa-caret-up"></span>
        </a>
      </td>
      <td>
        <a href="#" ng-click="sortType = 'games'; sortReverse = !sortReverse">
        Games
          <span ng-show="sortType == 'games' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'games' && sortReverse" class="fa fa-caret-up"></span>
        </a>
      </td>
      <td>
        <a href="#" ng-click="sortType = 'win_perc_all()'; sortReverse = !sortReverse">
        % wins (games)
          <span ng-show="sortType == 'win_perc_all()' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'win_perc_all()' && sortReverse" class="fa fa-caret-up"></span>
        </a>
      </td>
      <td>
        <a href="#" ng-click="sortType = 'win_perc_finals()'; sortReverse = !sortReverse">
        % wins (finals)
          <span ng-show="sortType == 'win_perc_finals()' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'win_perc_finals()' && sortReverse" class="fa fa-caret-up"></span>
        </a>
      </td>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="rank in ranking | orderBy:sortType:sortReverse">
      <td>{{ rank.name }}</td>
      <td>{{ rank.wins }}</td>
      <td>{{ rank.finals() }}</td>
      <td>{{ rank.losses }}</td>
      <td>{{ rank.games }}</td>
      <td>{{ rank.win_perc_all() }}%</td>
      <td>{{ rank.win_perc_finals() }}%</td>
    </tr>
  </tbody>

</table>
        <h3>Charts</h3>
        <button class='btn' ng-click="update()">Update</button>
      </div>
    </div>
    <div ng-controller="gameController" class="wrapper">
      <div class="container">
        <h3>Current game</h3>
        <div>
            <div class="arrows" ng-click="prevStage()"><</div>
            <div class="stage">{{round(stage)}}</div>
            <div class="arrows" ng-click="nextStage()">></div>
            <div class="header-row col-xs-12">
              <div class="round col-xs-2">
                Players
              </div>
              <div ng-class="players[0].roundScore(0)" class="round col-xs-2">
                Round 1
              </div>
              <div ng-class="players[0].roundScore(1)" class="round col-xs-2">
                Round 2
              </div>
              <div ng-class="players[0].roundScore(2)" class="round col-xs-2">
                Round 3
              </div>
              <div ng-class="players[0].roundScore(3)" ng-show="tie" class="round tie col-xs-1">
                Tie
              </div>
              <div ng-class="players[0].roundScore(4)" ng-show="head" class="round head col-xs-1">
                Final
              </div>
            </div>

            <div ng-repeat="player in players">
              <div class="rounds col-xs-12">
                <div class="round col-xs-2">
                  <input type='text' ng-model="playerService.p[$index]"/>
                </div>
                <div ng-class="player.roundScore(0)" class="round round-{{player.score1}} col-xs-2">
                  {{player.score1}}
                </div>
                <div ng-class="player.roundScore(1)" class="round round-{{player.score2}} col-xs-2">
                  {{player.score2}}
                </div>
                <div ng-class="player.roundScore(2)" class="round round-{{player.score3}} col-xs-2">
                  {{player.score3}}
                </div>
                <div ng-show="tie" ng-class="player.roundScore(3)" class="round round-{{player.score4}} tie col-xs-1">
                  {{player.score4}}
                </div>
                <div ng-show="head" ng-class="player.roundScore(4)" class="round head round-{{player.score5}} col-xs-1">
                  {{player.score5}}
                </div>
                <div class="col-xs-2 rating">
                  <div class="likes" ng-click="player.plusOne()">+</div>
                  <div class="dislikes" ng-click="player.minusOne()">-</div>
                </div>
              </div>
            </div>
            <button class='btn' ng-click="add()">Save</button>
        </div>
      </div>
    </div>
    <div ng-controller="saveController">
      <div class="container">
        <h2>Previous games</h2>
        <div class="games" ng-repeat="game in list | orderBy:'-dateTime'">
          <span class="date">{{game.dateTime | date: 'dd/MM/yy'}}</span>
          {{game.$id}}
          <div class="header-row col-xs-12">
            <div class="round col-xs-2">
              Players
            </div>
            <div class="round col-xs-2">
              Round 1
            </div>
            <div class="round col-xs-2">
              Round 2
            </div>
            <div class="round col-xs-2">
              Round 3
            </div>
            <div class="round tie col-xs-1">
              Tie
            </div>
            <div class="round head col-xs-1">
              Final
            </div>
          </div>
          <div ng-class="info.place" ng-repeat="info in game.scores" class="rounds col-xs-12">
            <div class="round col-xs-2">
              {{info.name}}
            </div>
            <div class="round col-xs-2">
              {{info.score1}}
            </div>
            <div class="round col-xs-2">
              {{info.score2}}
            </div>
            <div class="round col-xs-2">
              {{info.score3}}
            </div>
            <div class="round tie col-xs-1">
              {{info.score4}}
            </div>
            <div class="round head col-xs-1">
              {{info.score5}}
            </div>
        </div>
      </div>
    </div>
  </div>



    <!-- Controllers -->
    <script src="js/controllers/chart.js"></script>
    <script src="js/controllers/chartController.js"></script>

    <script src="js/controllers/saveController.js"></script>
    <script src="js/controllers/gameController.js"></script>

    <!-- Directives -->
    <script src="js/directives/playerScore.js"></script>

    <!-- Services -->
    <script src="js/services/firebase.js"></script>
    <script src="js/services/player.js"></script>




    <!-- Bootstrap Core JavaScript -->
    <script src="js/vendors/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->

    <!-- Menu Toggle Script -->

</body>

</html>
