<div class="rounds col-xs-12">
  <div class="round col-xs-2">
    {{info.name}}
  </div>
  <div ng-class="info.roundScore(0)" class="round col-xs-2">
    {{info.score1}}
  </div>
  <div ng-class="info.roundScore(1)" class="round col-xs-2">
    {{info.score2}}
  </div>
  <div ng-class="info.roundScore(2)" class="round col-xs-2">
    {{info.score3}}
  </div>
  <div ng-show="info.tie" ng-class="info.roundScore(3)" class="round tie col-xs-1">
    {{info.score4}}
  </div>
  <div ng-show="info.head" ng-class="info.roundScore(4)" class="round head col-xs-1">
    {{info.score5}}
  </div>
  <div class="col-xs-2 rating">
    <div class="likes" ng-click="info.plusOne()">+</div>
    <div class="dislikes" ng-click="info.minusOne()">-</div>
  </div>
</div>
